*.swp
autom4te.cache
config.log
config.status
src/Makevars
*.o
*.so
a.out.dSYM/
inst/doc/SPADE.pdf
inst/doc/.build.timestamp
inst/doc/Rplots.pdf
inst/doc/SPADE-plotSampleData.eps
inst/doc/SPADE-plotSampleData.pdf
inst/doc/SPADE.tex

_site
.rvmrc
