useDynLib(flowSPD)
export(
    "FlowSPD.density",
    "FlowSPD.addDensityToFCS",
    "FlowSPD.downsampleFCS",
    "FlowSPD.cluster",
    "FlowSPD.FCSToTree",
    "FlowSPD.assignToCluster",
    "FlowSPD.addClusterToFCS",
    "FlowSPD.annotateMarkers",
    "FlowSPD.layout.arch",
    "FlowSPD.layout.arch_layout"
)
