useDynLib(spade)
export(
    "SPADE.density",
    "SPADE.addDensityToFCS",
    "SPADE.downsampleFCS",
    "SPADE.cluster",
    "SPADE.FCSToTree",
    "SPADE.assignToCluster",
    "SPADE.addClusterToFCS",
    "SPADE.annotateMarkers",
    "SPADE.markerMedians",
    "SPADE.layout.arch",
    "SPADE.write.graph",
    "SPADE.layout.arch_layout",
    "SPADE.annotateGraph",
    "SPADE.driver",
	"SPADE.normalize.trees",
    "SPADE.plot.trees",
	"SPADE.workflow.concat.FCS"
)
