useDynLib(spade)
importFrom(Biobase, exprs, "exprs<-", description, "description<-", pData, "pData<-")
import(flowCore)
export(
	"SPADE.addDensityToFCS",
	"SPADE.downsampleFCS",
	"SPADE.FCSToTree",
	"SPADE.addClusterToFCS",
	"SPADE.annotateMarkers",
	"SPADE.markerMedians",
	"SPADE.layout.arch",
	"SPADE.write.graph",
	"SPADE.annotateGraph",
	"SPADE.driver",
	"SPADE.plot.trees",
	"SPADE.flattenAnnotations",
	"SPADE.installPlugin"
)
