<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>{{ page.title }}</title>
		<meta name='description' content='{{ page.description }}' />
		<meta name='keywords' content='{{ page.keywords }}' />
		<meta name='author' content='{{ page.author }}' />
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
		<link rel='stylesheet' type='text/css' href='/assets/main.css' />
	</head>

	<body>
		<div class='wrapper'>
			<div class='header'>
				<a href='/'><img id='logo' style='border-style: none' src='assets/spade-logo.png' /></a>
				<h1 id='title'>
					Cyto<br>
					Spanning tree<br>
					Progression of<br>
					Density normalized<br>
					Events
				</h1>
				<ul id='navigation'>
					<li><a href='//github.com/nolanlab/spade/wiki/GettingStarted'>Getting Started</a></li>
					<li><a href='//github.com/nolanlab/spade/issues'>Found a Bug?</a></li>
					<li><a href='//github.com/nolanlab/spade'>Source</a></li>
					<li><a href='/about.html'>About SPADE</a></li>
				</ul>
			</div>
		</div>
		<div class='wrapper'>
			<div class='content'>

